.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  flex-wrap: wrap; /* Prevent overflow */
}

.landing--img {
  --img-size: 400px;
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.landing--container-left {
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lcl--content {
  margin: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing--social {
  font-size: 35px;
  margin: 0 1rem;
  transition: transform 0.5s;
}

.landing--social:hover {
  transform: scale(1.2);
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .landing {
    height: auto; /* Allow the height to adjust based on content */
    flex-direction: column; /* Stack elements vertically */
  }

  .landing--img {
    --img-size: 250px; /* Reduce image size */
    left: 50%; /* Center image horizontally */
    transform: translateX(-50%);
  }

  .lcl--content {
    margin: 1.5rem; /* Reduce margin */
  }

  .landing--social {
    font-size: 25px; /* Reduce size of social icons */
    margin: 0 0.5rem; /* Reduce space between social icons */
  }
}

@media only screen and (max-width: 480px) {
  .landing--img {
    --img-size: 200px; /* Further reduce image size for smaller screens */
  }

  .lcl--content {
    margin: 1rem; /* Further reduce margin */
  }

  .landing--social {
    font-size: 20px; /* Further reduce size of social icons */
  }
}
